<a class="miboton" href="/form-crud/new">Alta</a>

<table class="custom-table">
    <thead class="custom-table-header fuente">
        <tr class="custom-table-row">
            <th class="custom-table-heading">
                ID
            </th>
            <th class="custom-table-heading">
                Nombre
            </th>
            <th class="custom-table-heading">
                Email
            </th>
            <th class="custom-table-heading">
                Vehicle 1
            </th>
            <th class="custom-table-heading">
                Vehicle 2
            </th>
            <th class="custom-table-heading">
                Vehicle 3
            </th>
            <th class="custom-table-heading">
                Pwd
            </th>
            <th class="custom-table-heading">
                Delete
            </th>
            <th class="custom-table-heading">
                Edit
            </th>
        </tr>
    </thead>
    <tbody class="custom-table-body">
        {% for row in people_rows %}
            <tr class="custom-table-row">
                <td class="custom-table-cell">
                    {{ row.id }}
                </td>
                <td class="custom-table-cell">
                    {{ row.nombre }}
                </td>
                <td class="custom-table-cell">
                    {{ row.email }}
                </td>
                <td class="custom-table-cell">
                    {{ row.vehicle1 }}
                </td>
                <td class="custom-table-cell">
                    {{ row.vehicle2 }}
                </td>
                <td class="custom-table-cell">
                    {{ row.vehicle3 }}
                </td>
                <td class="custom-table-cell">
                    {{ row.pwd }}
                </td>
                <td class="custom-table-cell custom-table-action">
                    <a href="form-crud/delete/{{ row.id }}" class="custom-delete-link">Delete</a>
                </td>
                <td class="custom-table-cell custom-table-action">
                    <a href="form-crud/edit/{{ row.id }}" class="custom-edit-link">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

